body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #181818;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 20px;
}
h1 {
    font-weight: 300;
}
.video-js {
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    border-radius: 8px;
    overflow: hidden;
}
.controls {
    margin-top: 20px;
}
button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #444;
}
button:active {
    background-color: #555;
}
